@import "../var";
@import "../mixin";
@import "../fonts";

.form {
  width: 100vw;
  height: 96vh;
  background-color: $light-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  span {
    font-weight: 600;
    font-size: 15px;
    color: $light-blue;
  }
  h4 {
    font-weight: 700;
    font-size: 45px;
    color: $dark-text;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    color: $gray-text;
    text-align: center;
  }
  .inputs-form {
    width: 90vw;
    height: 60vh;
    background-color: $white-text;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    label {
      width: 79.8vw;
      background-color: inherit;
      border: $bd;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 14px;
      i {
        color: $light-blue;
      }
      input {
        width: max-content;
        height: 65px;
        background-color: inherit;
        color: $dark-text;
        flex-grow: 1;
        border: none;
      }
      textarea {
        width: max-content;
        height: 125px;
        background-color: inherit;
        color: $dark-text;
        flex-grow: 1;
        border: none;
      }
    }
    button {
      width: 80vw;
      height: 65px;
      background-color: $light-blue;
      color: $white-text;
      border: $bd;
    }
  }
}

@media (max-width: 767px) and (min-width: 305px) {
  .form {
    width: 100vw;
    height: fit-content;
    background-color: $light-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h4 {
      text-align: center;
    }
    .inputs-form {
      width: 90vw;
      height: fit-content;
    }
  }
}