@import "../var";
@import "../mixin";
@import "../fonts";

.our-worker {
  width: 70vw;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  .information-worker {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    span {
      font-weight: 600;
      font-size: 15px;
      color: $light-blue;
    }
    h4 {
      font-weight: 700;
      font-size: 45px;
      color: $dark-text;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      color: $gray-text;
    }
    .contact-worker {
      width: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .icon-block {
        width: 65px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: $bd;
        background-color: inherit;
      }
      p {
        font-weight: 700;
        font-size: 22px;
        color: $dark-text;
      }
    }
    button {
      width: 250px;
      height: 65px;
      background-color: $light-blue;
      color: $white-text;
      border: $bd;
    }
    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      i {
        color: $dark-text;
      }
    }
  }
}